<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="col-md-2">
    <a class="navbar-brand" href="/">NBshop</a>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" routerLink="." id="categoryDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          หมวดหมู่
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="categoryDropdown">
          <a class="dropdown-item" routerLink="category/notebook">Notebook</a>
          <a class="dropdown-item" routerLink="category/ultra">Ultrabook</a>
          <a class="dropdown-item" routerLink="category/gamingbook">Gaming Notebook</a>
          <a class="dropdown-item" routerLink="category/hybrid">Hybrid</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="compare" routerLinkActive="active">เปรียบเทียบ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="checkspec" routerLinkActive="active">เช็คสเป็ค</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact" routerLinkActive="active">ติดต่อเรา</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="ค้นหา" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ค้นหา</button>
      <button class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="submit">สมัครสมาชิก</button>
    </form>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>